.item-view-content {
	font-size: 1.5rem;
}
.item-view-content .card__title {
	cursor: pointer;
	font-size: 1.8rem;

	& a {
		color: #ef9a9a;
		margin-bottom: 1.5rem;
	}
}

@media (max-witdh: 650px) {
	.item-view-content {
		font-size: 1.5rem;
	}
}
@media (max-witdh: 400px) {
	.item-view-content {
		font-size: 1rem;
	}
}
