.ReactModal__Overlay {
	opacity: 0;
	transition: all 300ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background-color: #eeeeee;
	text-align: center;
	color: #ef9a9a;
	padding: 2 * $md;
	outline: none;
	border-radius: 3px;
	max-width: 60rem;
	max-height: 90vh;
	display: block;

	&__title {
		font-weight: 700;
		margin: $md 0;
	}
	&__description {
		font-weight: 300;
		font-size: 1.5rem;
		padding: 0 3.5rem;
		margin: 0 0 2 * $md 0;
		color: #212121;
		word-break: break-all;
	}
	&__creators {
		font-size: 1.3rem;
		font-weight: 700;
		margin-bottom: 1rem;

		&--title {
			color: #212121;
			margin: 0 auto 0.5rem;
		}
	}
}

.modal-img-container {
	width: 50%;
	margin: 0 auto;
	border-radius: 3px;
	overflow: hidden;
}
