.search-bar {
  margin: 3rem 0;
  font-family: 'Marvel', sans-serif;
}

button, input, optgroup, select, textarea {
  font-family: 'Marvel', sans-serif;
}

.btn-small {
  width: 100%;
  font-weight: 700;
}